<h1 class="text-muted text-center">Sessions#new</h1>
<%= form_tag sessions_path, method: :post do %>
  <div class="form-group">
    <%= label_tag :email %>
    <%= text_field_tag :email,  "", class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= label_tag :password %>
    <%= password_field_tag :password, "", class: 'form-control'%>
  </div>
  <div class=”actions”>
    <%= submit_tag "Sign in", class:"btn btn-primary"%>
  </div>
<%end%>
