<h1 class="text-muted text-center">Users#edit</h1>
<%= simple_form_for @user do |f| %>
  <%= f.input :name, label: 'Your Name please', error: 'Name is mandatory, please specify one' %>
  <%= f.input :email, placeholder: 'user@domain.com' %>
  <%= f.input :age %>
  <%= f.input :bio, as: :text%>
  <%= f.button :submit, class: "btn-primary" %>
<% end %>