<!--<h1 class="text-center mt-3 mb-5">HOME</h1>-->

<%# @user.each do |info| %>
<!--  <div class = 'bg-success p-4 rounded-top '>-->
<!--    <h2><%#= link_to info.name, info, class: 'text-light'%></h2>-->
<!--  </div>-->
  <%# if current_user %>
<!--    <div class="bg-dark rounded-bottom p-3">-->
        <%#= link_to "Edit", edit_user_path(info), class: 'text-success p-2'%>
       <%#= link_to "Delete",info, :confirm => "Are you sure?", :method => :delete, class: 'text-success p-2'%>

<!--    </div>-->
  <%# end %>
<!--  <hr>-->
<%# end %>
<%# if current_user %>
<!--  <p class="text-danger">Logged in as <%#= current_user.name %>.</p>-->
  <%#=link_to "Sign Out", sessions_destroy_path %>
<%# else %>
<!--<p><%#=link_to "Sign Up", users_new_path, class: 'ml-4' %> | <%#=link_to " Sign In", new_session_path, class: 'ml-4' %></p>-->
<%# end %>