<h1 class="text-muted text-center">Users#new</h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :name, label: 'Your Name please', error: 'Name is mandatory, please specify one' %>
  <%= f.input :password%>
  <%= f.input :password_confirmation, error: 'Password do not match'%>
  <%= f.input :email, placeholder: 'user@domain.com' %>
  <%= f.input :age %>
  <%= f.input :bio, as: :text%>
  <%= f.button :submit, class:"btn btn-primary" %>
<% end %>