<h1 class="text-center text-muted">Users show</h1>
<div class="bg-success text-light p-3 rounded-top font-weight-bold">
  <p>Name: <%= @user.name %></p>
  <p>Email: <%= @user.email %></p>
  <p>Age: <%= @user.age %></p>
  <p>Bio: <%= @user.bio %></p>
  <small class="text-warning"><%= @user.created_at %></small>
</div>
<div class="bg-dark rounded-bottom p-4">
  <%= link_to "Return Home", blogs_path, class: 'text-success p-2'%>
  <% if current_user.id == @user.id%>
    <%= link_to "Edit", edit_user_path, class: 'text-success p-2'%>
  <% end %>
</div>