<h1 class="text-center mt-3 mb-5">BLOGS</h1>
<div class="p-3">
<% if current_user%>
  <%=link_to "Create Post", blogs_new_path, class: "h1 center " %>
  <p class="text-danger">Logged in as <%= link_to current_user.name, current_user %>.</p>
  <%=link_to "Sign Out", sessions_destroy_path, class: "h4" %>
<% else %>
  <p><%=link_to "Sign Up", users_new_path, class: 'ml-4 h4' %> | <%=link_to " Sign In", sessions_new_path, class: 'ml-4 h4' %></p>
<% end %>
</div>
<% @blog.each do |post| %>
  <div class = 'bg-success p-4 rounded-top '>
    <h2><%= link_to post.title, post, class: 'text-light'%></h2>
  </div>
  <div class="bg-dark rounded-bottom p-3">
    <small class="text-warning"><%= post.created_at %></small>
    <small class="text-danger right text-uppercase font-weight-bolder"><%= post.user.name %></small>
  </div>
  <hr>
<% end %>