<h1 class="text-muted text-center">Blogs#new</h1>

<%= simple_form_for @blog do |f| %>
  <%= f.input :title, label: 'Title'%>
  <%= f.input :content, as: :text%>
  <%= f.button :submit, class:"btn btn-primary" %>
<% end %>