<h1 class="text-center text-muted mt-3 mb-5">Blogs Detail</h1>
<div class="bg-success text-light p-3 rounded-top font-weight-bold">
  <p>Title: <%= @blog.title %></p>
  <p>Content: <%= @blog.content %></p>
</div>
<div class="bg-dark rounded-bottom p-4">
  <%= link_to "Return Home", blogs_path, class: 'text-success p-2'%>
  <% if current_user == @blog.user%>
    <%= link_to "Edit", edit_blog_path, class: 'text-success p-2'%>
    <%= link_to 'Delete',blog_path(@blog), method: :delete,data: { confirm: 'Are you sure?' }, class: 'text-success p-2' %>
  <% end %>
</div>
